* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}


.js-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 30px;
    list-style: none;
    margin: 0 auto;
}


.item {
   flex-basis: calc((100% - 60px) / 3);
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: column;
    align-items: center;
    text-align: center;       
}

.item:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 32px rgba(0,0,0,0.2);
}


.item-span {
    font-size: 15px;
    background: #7f8c8d;
    padding: 6px 10px;
    border-radius: 10px;
    margin-bottom: 14px;
    color: white;
}


.image {
    width: 300px;
    height: 260px;               
    border-radius: 18px;
    margin-bottom: 18px;    
}


.title {
    font-size: 24px;        
    font-weight: 700;
    margin-bottom: 14px;     
    color: #333;
}

.calories,
.description,
.price {
    font-size: 18px;       
    color: #444;
    margin-bottom: 10px; 
}    

.price {
    font-size: 22px;
    font-weight: 700;
    color: #e67e22;
    margin-top: 12px;
}

.open_modal {
  padding: 8px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 9px;
  background-color: #7f8c8d;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}


.bakdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.413);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 550px;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}

.modal_label {
  font-size: 20px;
  display: block;
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_inp {
  display: block;
  width: 510px;
  border: none;
  border-radius: 12px;
  height: 40px;
  outline: 1px solid grey;
  margin-top: 5px;
  padding: 4px 20px;

}

.modal_submit {
  border: none;
  background-color: #7f8c8d;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 12px;
  font-size: 19px;
  text-align: center;
}


.btn_box {
  display: flex;             
  gap: 10px;                 
  justify-content: center;   
  margin-top: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #7f8c8d; 
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}


.btn-delete:hover {
  background-color: #e74c3c;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-edit:hover {
  background-color: #3498db;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
